@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-row bd-highlight mb-5 justify-content-between" >
     <div style="width:100%" class="m-4">
    <h1 class="display-4 mt-2">Welcome To our Simple Banking System .... </h1>
    <p class=" fs-3 " style="width: 60%"> where  you can check yor balance do transactions and check your transactios history.</p>
    <div>
  
        <a asp-controller="BankSystem" asp-action="Index" class="btn-outline-primary btn align-content-center mt-3 " style="width:350px">Check Users DashBoard &nbsp;  <i class="bi bi-arrow-right text-bold fs-6"></i></a>
       </div>
    </div>
    <img src="/css/refund-animate.svg" style="width:40%" /> 
</div>

